<#import "/frameV2.html" as frame />
<@frame.frame csss=[] scripts=[]>
<div class="wrapper wrapper-content  animated fadeInRight">
       <div class="row">
           <div class="col-sm-12">
               <div class="ibox ">
                   <div class="ibox-title">
                       <h5>用户管理</h5>
                   </div>
                   <div class="ibox-content">
                       <p>
                       	<button class="btn btn-success" type="button" onclick="add();"><i class="fa fa-plus"></i>添&nbsp;加</button>
                   	 	</p>
                    <hr>
                    <div class="row row-lg">
	                  <div class="col-sm-12">
	                      <!-- Example Card View -->
	                      <div class="example-wrap">
	                          <div class="example">
	                          	<table id="table_list"></table>
	                          </div>
	                      </div>
	                      <!-- End Example Card View -->
	                  </div>
                 </div>
                </div>
            </div>
        </div>
    </div>
</div>
</@frame.frame>
<@frame.script>
<script type="text/javascript" charset="utf-8">
 
</script>
</@frame.script>
