<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuexi.v2.mapper.RightMapper">
  <resultMap id="BaseResultMap" type="com.xuexi.v2.domain.Right">
    <id column="right_id" jdbcType="INTEGER" property="rightId" />
    <result column="right_url" jdbcType="VARCHAR" property="rightUrl" />
    <result column="upper_right_id" jdbcType="INTEGER" property="upperRightId" />
    <result column="right_name" jdbcType="VARCHAR" property="rightName" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    right_id, right_url, upper_right_id, right_name, menu_id, description, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_right
    where right_id = #{rightId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_right
    where right_id = #{rightId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xuexi.v2.domain.Right">
    insert into t_right (right_id, right_url, upper_right_id, 
      right_name, menu_id, description, 
      status)
    values (#{rightId,jdbcType=INTEGER}, #{rightUrl,jdbcType=VARCHAR}, #{upperRightId,jdbcType=INTEGER}, 
      #{rightName,jdbcType=VARCHAR}, #{menuId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xuexi.v2.domain.Right">
    insert into t_right
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rightId != null">
        right_id,
      </if>
      <if test="rightUrl != null">
        right_url,
      </if>
      <if test="upperRightId != null">
        upper_right_id,
      </if>
      <if test="rightName != null">
        right_name,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rightId != null">
        #{rightId,jdbcType=INTEGER},
      </if>
      <if test="rightUrl != null">
        #{rightUrl,jdbcType=VARCHAR},
      </if>
      <if test="upperRightId != null">
        #{upperRightId,jdbcType=INTEGER},
      </if>
      <if test="rightName != null">
        #{rightName,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuexi.v2.domain.Right">
    update t_right
    <set>
      <if test="rightUrl != null">
        right_url = #{rightUrl,jdbcType=VARCHAR},
      </if>
      <if test="upperRightId != null">
        upper_right_id = #{upperRightId,jdbcType=INTEGER},
      </if>
      <if test="rightName != null">
        right_name = #{rightName,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where right_id = #{rightId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuexi.v2.domain.Right">
    update t_right
    set right_url = #{rightUrl,jdbcType=VARCHAR},
      upper_right_id = #{upperRightId,jdbcType=INTEGER},
      right_name = #{rightName,jdbcType=VARCHAR},
      menu_id = #{menuId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where right_id = #{rightId,jdbcType=INTEGER}
  </update>
</mapper>