<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>welcome</title>
<meta name="keywords" content="">
<meta name="description" content="">

</head>
<body>
welcome
<@security.hasPermission name="/dept/main">
       <button class="btn btn-success " type="button" onclick="add();"><i class="fa fa-plus"></i>&nbsp;添加</button>
</@security.hasPermission>

<@security.hasRole name="super">
       <button class="btn btn-success " type="button" onclick="add();"><i class="fa fa-plus"></i>&nbsp;添加</button>
</@security.hasRole>

</body>

</html>
